{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div class="row mt-5">
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary btn-outline-light">view</a>
      </div>
    </div>
  </div>
{% endblock content %}