{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>

<body>
    <style>
        body{
            background-image: url("{% static 'back.jpg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    
    <nav class="navbar color">
        <div class="w-20"></div>
        <div class="w-20"></div>
        <div class="w-20"></div>
        <div class="w-20"></div>
        <div class="w-20"></div>
    </nav>
    <nav class="navbar navbar-light bg-light">
        {% if user.is_authenticated %}
        <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" width="50px"></a>
        {% else %}
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        {% endif %}
        <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            
            <a href="{% url 'change_password' %}"><button class="btn btn-1 mr-3 btn-outline-light" type="button">Change Password
                    </button></a>
                    <a href="{% url 'logout' %}"><button class="btn btn-4 mr-3 btn-outline-light" type="button">Log
                        out</button></a>
            {% else %}
            <a href="{% url 'register' %}"><button class="btn btn-1 mr-3 btn-outline-light" type="button">Sign
                    Up</button></a>
            <a href="{% url 'login' %}"><button class="btn btn-2 mr-3 btn-outline-light" type="button">Log
                    In</button></a>
            {% endif %}
        </form>
    </nav>
    {% block sidebar %}

    {% endblock sidebar %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var parent = document.getElementById("clone")
    var child = parent.cloneNode(parent)
    function requestStore() {
        axios.post('/storeApi/', {
            search: document.getElementById('search').value
        })
            .then(function (respnose) {
                if (respnose.data.output == "null") {
                    var list = document.getElementById("parent")
                    while (list.hasChildNodes()) {
                        list.removeChild(list.firstChild);
                    }
                } else {
                    var list = document.getElementById("parent")
                    while (list.hasChildNodes()) {
                        list.removeChild(list.firstChild);
                    }
                    for (x of respnose.data.output) {
                        document.getElementById("parent").appendChild(child)
                        child = child.cloneNode(child)
                    }
                    i = 0
                    for (x of respnose.data.output) {
                        document.getElementsByClassName("image")[i].src = "/media/" + x.store_pic;
                        document.getElementsByClassName("name")[i].innerHTML = x.store_name;
                        document.getElementsByClassName("phone")[i].innerHTML = "Phone : " + x.phone;
                        document.getElementsByClassName("other")[i].innerHTML = x.other_notes;
                        if (document.getElementsByClassName("check")[i].id == "expenses") {
                            document.getElementsByClassName("check")[i].href = "/expenses_details/" + x.store_id + "/";
                        } else if (document.getElementsByClassName("check")[i].id == "edit") {
                            document.getElementsByClassName("check")[i].href = "/edit_expenses/" + x.store_id + "/";
                        } else if (document.getElementsByClassName("check")[i].id == "store") {
                            document.getElementsByClassName("check")[i].href = "/store_detail_edit/" + x.store_id + "/";
                        } else if (document.getElementsByClassName("check")[i].id == "detail") {
                            document.getElementsByClassName("check")[i].href = "/store_detail/" + x.store_id + "/";
                        }

                        i++
                    }
                }
            })
            .catch(function (error) {
                console.log(error)
            })
    }

    function requestAperture() {
        axios.post('/apertureApi/', {
            search: document.getElementById('search').value
        })
            .then(function (respnose) {
                if (respnose.data.output == "null") {
                    var list = document.getElementById("parent")
                    while (list.hasChildNodes()) {
                        list.removeChild(list.firstChild);
                    }
                } else {
                    var list = document.getElementById("parent")
                    while (list.hasChildNodes()) {
                        list.removeChild(list.firstChild);
                    }
                    for (x of respnose.data.output) {
                        document.getElementById("parent").appendChild(child)
                        child = parent.cloneNode(child)
                    }
                    i = 0
                    for (x of respnose.data.output) {
                        document.getElementsByClassName("image")[i].src = "/media/" + x.aper_pic;
                        document.getElementsByClassName("name")[i].innerHTML = x.aper_loc;
                        document.getElementsByClassName("price")[i].innerHTML = "Price:" + x.aper_price + "Baht";
                        if (document.getElementsByClassName("check")[i].id == "add") {
                            document.getElementsByClassName("check")[i].href = "/add_store/" + x.aper_id + "/";
                        } else if (document.getElementsByClassName("check")[i].id == "sale") {
                            document.getElementsByClassName("check")[i].href = "/sale_view/" + x.aper_id + "/";
                        } else if (document.getElementsByClassName("check")[i].id == "aperture") {
                            document.getElementsByClassName("check")[i].href = "/aperture_detail/" + x.aper_id + "/";
                        }
                        i++
                    }
                }
            })
            .catch(function (error) {
                console.log(error)
            })
    }
</script>

</html>