{% extends "nav.html" %}
{% load static %}
{% block sidebar %}
<div class="container-fluid">
    <div class="row">
        <div class="col-5 mt-3 p-5">
            <h3 class="mx-10">ชื่อร้าน</h3>
            <p class="mx-9 mt-5">เบอร์โทรร้าน : XX-XXXXXXX</p>
        </div>
        <div class="col-7">
            <img class=" aperture rounded img-fluid" src="{% static 'panorama.jpg' %}" alt="">
        </div>
    </div>

    <div class="row form">
        <div class="form-group col-1">
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">รหัสร้าน</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ชื่อสาขาร้าน</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ค่าใช้จ่ายทั้งหมด</label>
            </div>
        </div>
        <div class="form-group col-1 ml-auto">
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
        </div>
        <div class="form-group col-1">
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">รหัสผู้จัดการร้าน</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">รหัสบริษัท</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">รายการซ่อมแซม</label>
            </div>
        </div>
        <div class="form-group col-1 ml-auto">
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
        </div>
        <div class="form-group col-1">
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ค่าไฟ</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ค่าน้ำ</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ค่าเช่าพื้นที่</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ค่าซ่อมแซม</label>
            </div>
        </div>
        <div class="form-group col-1 ml-auto">
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
        </div>
        <div class="form-group col-1">
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ค่าประกัน</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">ค่าใช้จ่ายอื่นๆ</label>
            </div>
            <div class="row justify-content-end pr-1 mb-3">
                <label for="inputPassword" class="input">วันที่สร้างบิล</label>
            </div>
        </div>
        <div class="form-group col-1 ml-auto">
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
            <div class="row mb-3">
                <p class="text-muted">**************</p>
            </div>
        </div>
    </div>
</div>
{% endblock sidebar %}