{% extends 'nav.html' %}
{% block sidebar %}
{% comment %} <div class="row-2 m-3">
    <div class="col-12">
    <form action="{% url 'add_store' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-4 p-5 ml-5 bg-dark text-white">
                <div class="bg-white text-white">
                    <Br>
                    <br>
                    <br>
                    <br>
                    <Br>
                    <Br>
                    <br>
                    <br>
                    <br>
                    <Br>
                    <Br>
                    <br>
                    <br>
                    <br>
                    <Br>
                    <br>
                    <br>
                    เลือกรูปภาพร้านค้า<input type="file" name="store_pic">
                </div>
                <br>
                <center>
                    <br>
                    <h4>You want to add this store?</h4>
                </center>
                <br>
                <button type="submit" class="btn btn-warning btn-lg btn-block">Yes</button><br>
                <a href="{% url 'view_aperture' %}" class="btn btn-warning btn-lg btn-block">No</a>
            </div>
            
                <div class="col-7 p-7 text-white">
                    <table class="table" >
                    <thead>
                        <tr>
                            <th colspan="2" >
                                <center>ข้อมูลร้านค้า</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td>ชื่อร้านค้า</td>
                            <td><input type="text" class="form-control" name="store_name"></td>
                        </tr>
                        <tr align="center">
                            <td>เบอร์โทรร้านค้า</td>
                            <td><input type="text" class="form-control" name="phone"></td>
                        </tr>
                        <tr align="center">
                            <td>ชื่อสาขาร้าน</td>
                            <td><input type="text" class="form-control" name="branch"></td>
                        </tr>
                        <tr align="center">
                            <td>ค่าใช้จ่ายทั้งหมด</td>
                            <td><input type="text" class="form-control" name="cost_total"></td>
                        </tr>
                        <tr align="center">
                            <td>รายการที่ซ่อมแซม</td>
                            <td><input type="text" class="form-control" name="repaired"></td>
                        </tr>
                        <tr align="center">
                            <td>หมายเหตุ</td>
                            <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="other_notes"></textarea></td>
                        </tr>
                    </tbody>
                </table>
    
                </div>
                </div>
        </div>
        </form>
    </div>
</div> {% endcomment %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
{% endblock sidebar %}