{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div class="row mt-5">
    {% for store in stores %}
    <div class="col-3">
      <div class="card" >
        <img src="{{ store.store_pic.url }}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    {% endfor %}
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
    <div class="col-3">
      <div class="card" >
        <img src="{% static 'image.png' %}" class="card-img-bottom" alt="image">
          <a href="#" class="btn btn-primary">view</a>
      </div>
    </div>
  </div>
{% endblock content %}