{% extends 'base.html' %}
{% block content %}
    <div class="row m-3">
        <div class="col-12 p-5 bg-secondary text-white">
            IMG ....
            <br>
            <Br>
            <Br>
            <br>
            <br>
            <br>
            <Br>
            <Br>
            <br>
            <br>
        </div>
        <div class="col-12">
            <div class="row mt-5">
                <div class="col-6 text-right">
                    <h4>รหัสห้องว่าง : xxxxxxxxxxxx</h4>
                </div>
                <div class="col-6">
                    <h4>สถานะพื้นที่ : xxxxxxxxxxxx</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 text-right">
                    <h4>ขนาดพื้นที่ : xxxxxxxxxxxx</h4>
                </div>
                <div class="col-6">
                    <h4>วันที่ออกสัญญา : xxxxxxxxxxxx</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 text-right">
                    <h4>ที่ตั้ง : xxxxxxxxxxxx</h4>
                </div>
                <div class="col-6">
                    <h4>ราคา : xxxxxxxxxxxx</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}