{% extends 'sidebar.html' %}
{% block content %}
        <div class="row m-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-4 p-5 bg-secondary text-white">
                        <h2>ชื่อร้าน</h2>
                        <h4>เบอร์โทรร้านค้า : </h4><br>
                        <button type="button" class="btn btn-warning btn-lg btn-block">Edit Store details</button><br>
                        <button type="button" class="btn btn-warning btn-lg btn-block">Remove store</button>
                    </div>
                    <div class="col-7 p-5 ml-5 bg-secondary text-white">
                        IMG .........
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt-4">
                    <div class="col-3">
                        <h4>รหัสลูกค้า : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>รหัสผู้จัดการร้านค้า : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>ค่าไฟ : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>ค่าประกัน : xxxxxxxxxxxx</h4>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt-4">
                    <div class="col-3">
                        <h4>ชื่อสาขาร้าน : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>รหัสบริษัท : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>ค่าน้ำ : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>ค่าใช้จ่ายอื่นๆ : xxxxxxxxxxxx</h4>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt-4">
                    <div class="col-3">
                        <h4>ค่าใช้จ่ายทั้งหมด : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>รายการที่ซ่อมแซม : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>ค่าเช่าพื้นที่ : xxxxxxxxxxxx</h4>
                    </div>
                    <div class="col-3">
                        <h4>วันที่สร้างบิล : xxxxxxxxxxxx</h4>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt-4">
                    <div class="col-6">
                        <div class="form-group">
                            <h4><label for="comment">หมายเหตุ</label></h4>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>ค่าซ่อมแซม : xxxxxxxxxxxx</h4>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}