{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div class="row mt-5">
    {% for aperture in apertures %}
      <div class="col-3">
        <div class="card" >
          <img src="{{ aperture.aper_pic.url }}" class="card-img-bottom" alt="image">
            {% if aperture.aper_status == True and aperture.store_store_id == null %}
              <a href="{% url 'add_store' aperture.aper_id %}" class="btn btn-primary">Add Store</a>
            {% else %}
              {% if perms.management.change_store %}
                <a href="{% url 'sale_view' aperture.aper_id %}" class="btn btn-primary">view</a>
              {% else %}
                <a href="{% url 'aperture_detail' aperture.aper_id %}" class="btn btn-primary">view</a>
              {% endif %}
            {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock content %}