{% extends "nav.html" %}
{% load static %}
{% block sidebar %}
<form action="{% url 'change_pass' %}" method="POST">
        {% csrf_token %}
        <br><br><br><br><br><br>
<div class="container text-center bg-white p-3 mt-5">
    <h1 class="mt-5">Change Password</h1><br>
        <small class="form-text text-muted">Username : {{ request.user.username }}</small>
        {% if error %}
            <small class="form-text text-danger text-center" style="margin-bottom: 4;">{{ error }}</small>
        {% endif %}
        <div class="row form">
            <div class="form-group col-5">
                <div class="row justify-content-end mr-2 mb-3">
                    <label for="inputPassword" class="input">New Password</label>
                </div>
                <div class="row justify-content-end mr-2 mb-3">
                    <label for="inputPassword" class="input">Cornfirm Password</label>
                </div>
            </div>
            <div class="form-group col-5 ml-5">
                <div class="row mb-3">
                    <input type="password" class="input" name="password1"
                    {% if error %}
                        value="{{ password1 }}"
                    {% endif %} required>
                </div>
                <div class="row mb-4">
                    <input type="password" class="input" name="password2"
                    {% if error %}
                        value="{{ password2 }}"
                    {% endif %} required>
                </div>
        </div>
</div>
        <button class="btn btn-outline-light w-25 mb-4 " type="submit">Confirm</button>
</form>
{% endblock sidebar %}