{% extends 'nav.html' %}
{% block sidebar %}
<div class="row-2 m-3">
    <div class="col-12">
        <div class="row">
            <div class="col-4 p-5 ml-5 bg-dark text-white">
                <div class="bg-white text-white">
                    <Br>
                    <br>
                    <br>
                    <br>
                    <Br>
                    <Br>
                    <br>
                    <br>
                    <br>
                    <Br>
                    <Br>
                    <br>
                    <br>
                    <br>
                    <Br>
                    <Br>
                    <br>
                    <br>
                    <br>

                </div>
                <br>
                <center>
                    <br>
                    <h4>You want to add this store?</h4>
                </center>
                <br>
                <button type="button" class="btn btn-warning btn-lg btn-block">Yes</button><br>
                <button type="button" class="btn btn-warning btn-lg btn-block">No</button>
            </div>
            
                <div class="col-7 p-7 text-white">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th colspan="2" >
                                    <center>ข้อมูลร้านค้า</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td>ชื่อร้านค้า</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>เบอร์โทรร้านค้า</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>รหัสร้านค้า</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ชื่อสาขาร้าน</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ค่าใช้จ่ายทั้งหมด</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>รหัสผู้จัดการร้าน</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>รหัสบริษัท</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>รายการที่ซ่อมแซม</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ค่าไฟ</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ค่าน้ำ</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ค่าเช่าพื้นที่</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ค่าซ่อมแซม</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ค่าประกัน</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>ค่าใช้จ่ายอื่นๆ</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>วันที่สร้างบิล</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                            <tr align="center">
                                <td>หมายเหตุ</td>
                                <td>xxxxxxxxxxxx</td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock sidebar %}